.contacts {background-color: #dddddc;}
.contacts__content {display: flex; 
  width: 100%;
  height: 90%;
margin-bottom: 50px;
@include phones {flex-direction: column;}}
  .contacts__text {font-family: 'ubuntu', Arial, Helvetica, sans-serif;
  font-size: 16px;
font-weight: 300; color: $black;margin-right: 40px;
@include phones {font-size: 14px; margin-right: 0;}}
.contacts__time {line-height: 1.5;
  color: $blue; font-weight: 500; margin-bottom: 15px;}
.contacts__text-bold {margin-top: 10px; font-weight: 500; line-height: 1.5;}
.contacts__text-bold--hid {
  @include phones {display: none;}
}