.gallery {
  background: linear-gradient(130deg, #323c38, #222922);
}

.gallery__slider {position: relative;
  display: flex; justify-content: center;
  align-items: center;
  margin-bottom: 30px;
 }
  .gallery__wrap {
    overflow: hidden;
    
  }

.gallery__list {display: flex;
  width: 100%; }
.gallery__item {display: flex; align-items:center; justify-content: center;
  width: 100%; min-height: 150px; max-height: 550px;
  flex-shrink: 0;

}
.gallery__image {max-width: 85%; box-shadow: 8px 9px 18px #070707;
}



.gallery__scroll {position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.gallery__scroll--left {
  width: rem(20px);
height: rem(40px);
background-image: url(images/left.png);
margin-left: 20px;
@include phones {margin-left: 5px;
  width: rem(10px);
  height: rem(20px);background-size: cover;}
}


.gallery__scroll--right {
  transform: rotate(180deg);
  width: rem(20px);
  height: rem(40px);
  background-image: url(images/left.png);
  margin-right: 20px;
@include phones {margin-right: 5px;
  width: rem(10px);
  height: rem(20px);
  background-size: cover;}
}