.header {width: 100%; position: absolute;
  top: 0;left: 0;
  display: flex; 
  padding-top: rem(15px);
  padding-left: rem(25px);
justify-content: space-between;
z-index: 5;}

.logo__image {
  width: 150px;}
