.services {
  height: 200%;
  background: -webkit-gradient(linear, left top, left bottom, from(#8b8581), to(#8b8581));
  background: -webkit-linear-gradient(#8b8581, #8b8581);
  background: -o-linear-gradient(#8b8581, #8b8581);
  background: linear-gradient(#8b8581, #8b8581); }

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.services__item {
  width: 50%; }

.services__name {
  color: #fff;
  font-family: 'montserrat', Arial, Helvetica, sans-serif;
  font-weight: 500; }
