$blue: #2e495d;
$black: #292726;
$green: #272c26;

@import "./css/normalize.scss";
@import "./css/media.scss";
@import "./css/fonts.scss";
@import "./css/layout.scss";

@import "./css/main-page.scss";
@import "./css/header.scss";
@import "./css/menu.scss";
@import "./css/title.scss";
@import "./css/button.scss";
@import "./css/about.scss";
@import "./css/gallery.scss";
@import "./css/contacts.scss";


